<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 使用映射接口的方式， 命名空间的值必须与映射接口的全限定名一致 -->
<mapper namespace="com.yc.law.mapper.BackUserMapper">
	<select id="findBackUserByNP"  parameterType="User" resultType="User">
		select * from role r join law_user l on r.role_id=l.role_id and  usname=#{usname} and upwd=#{upwd} and role_name='管理员'
	</select>
	<select id="findInitAdmin" parameterType="String" resultType="int">
		select count(1) from law_user where  role_id in  (select role_id from role where role_name='管理员') and  usname='admin'
	</select>
	<insert id="insertInitAdmin" parameterType="User">
		<selectKey order="BEFORE" keyColumn="currval" keyProperty="role_id" resultType="int">select role_id from role where role_name='管理员'</selectKey>
		insert into law_user(usid,usname,upwd,role_id) values(seq_law_user_id.nextval,#{usname},#{upwd},#{role_id})
	</insert>
	
	<select id="findGeneralAllByPage" parameterType="Integer" resultType="User">
		select * from (select a.*,rownum rn from 
		(select usid,usname,usex,uemail,picpath,tel,law_user_status,law_user_status_explain,area,register_time,birthday,
		(select max(log_time) from log where log.usid=law_user.usid) recentUseTime from law_user 
		where role_id=(select role_id from role where role_name='用户')) a 
		where #{0} * #{1} >= rownum) where rn>( #{0} -1) * #{1}
	</select>
	
	<delete id="delGeneralUser" parameterType="String">
		update law_user set law_user_status='N',law_user_status_explain='此号已废弃' where usid in(#{usid})
	</delete>
	
	<insert id="addGeneralUser" parameterType="User">
		insert into law_user values(seq_law_user_id.nextval,#{usname},#{usex},#{upwd},#{uemail},
		(select role_id from role where role_name='用户'),#{picpath},#{tel},#{law_user_status},
		#{law_user_status_explain},#{area},sysdate,to_date(#{birthday},'yyyy-mm-dd'),null,null,null)
	</insert>
</mapper>
