<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 使用映射接口的方式， 命名空间的值必须与映射接口的全限定名一致 -->
<mapper namespace="com.yc.law.mapper.BackDataMapper">
	<resultMap type="TypePage" id="TypePageMap">
		<id column="page" property="page"/>
		<result column="rowss" property="rows"/>
		<result column="total" property="total"/>
		<collection property="typeList" column="ntid"  ofType="Type">
			<id column="ntid" property="ntid"/>
			<result column="ntname" property="ntname"/>
			<result column="status" property="status"/>
			<result column="usid" property="usid"/>
			<result column="usname" property="usname"/>
			<result column="note" property="note"/>
		</collection>
	</resultMap>
	<select id="getTypeByPage" parameterType="TypePage" resultMap="TypePageMap">
		select ${page} page,${rows} rowss,(select count(1) from newsType) total,nn.* from
(select rownum rn,a.* from 
(select ntid,ntname,status,n.usid,l.usname,n.spare_A note from newsType n left join law_user l on n.usid=l.usid) a where #{page}*#{rows}>=rownum) nn where rn>(#{page}-1)*#{rows} 
		
	</select>
	<insert id="addTypes" parameterType="Type">
		insert into newsType values(seq_newsType_id.Nextval,#{ntname},#{status},#{usid},#{note},null,null)
	</insert>
	
	<update id="delTypes" parameterType="int">
		delete from newsType where ntid in
		<foreach collection="list" open="(" close=")" separator="," item="ntids">#{ntids}</foreach>
	
	</update>
	<update id="updateType" parameterType="Type">
		update newsType set ntname=#{ntname},status=#{status},usid=#{usid},spare_A=#{note} where ntid=#{ntid}
	</update>
</mapper>